<!-- Page Banner -->
<!-- success-banner.component.html -->
<!-- success-banner.component.html -->
<div class="position-relative">
  <img src="assets/images/curve-half.png" class="first-curve" alt="curve-image">
  <img src="assets/images/curve-sm-blr.png" class="second-curve" alt="curve-image">

  <div class="container position-relative">
    <div class="row justify-content-center pt-3 pt-lg-5 mt-5">
      <div class="col-lg-12">
        <div class="page-banner-content text-center">
          <div class="container d-flex flex-column align-items-center justify-content-center ">
            <div class="circle green-dark d-flex align-items-center justify-content-center">
              <div class="circle green-medium d-flex align-items-center justify-content-center">
                <div class="circle green-light d-flex align-items-center justify-content-center">
                  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <path d="M38.25 14.83 22.45 30.63l-7.7-7.7-2.83 2.83 10.53 10.53 18.63-18.63Z"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="message mt-3">
              <h4 class="mb-3 mt-3">Płatność zakończona sukcesem.</h4>
              <span class="fs-8 mb-3">Dziękujemy za zakup kursu! Twój dostęp jest gotowy.<br>
                Zaloguj się teraz i rozpocznij naukę. Powodzenia! 🚀</span>
              
            </div>
            <button class="btn btn-primary px-4 py-2 rounded-pill my-3" routerLink="/dashboard">Przejdź do platformy</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-featured-courses></app-featured-courses>