<div class="banner-area position-relative z-1">
    <img src="assets/images/curve-small-1.png" class="img-fluid curve-icon-left" alt="">
    <img src="assets/images/curve-lg.png" class="img-fluid curve-icon-right" alt="">
    <div class="container"> 
        <div class="row align-items-center flex-md-nowrap h-100">
            <div class=" col-lg-7 pe-lg-5 ">
                <div class="banner-content">
                  
                    <h1>Rozwiń swoje <span class="text-primary">horyzonty prawne</span>  i przenieś swoją organizację na wyższy poziom.</h1> 
                    <p class="my-4" data-aos="fade-up" data-aos-delay="400">Akademia dotlaw dostarcza profesjonalne kursy z zakresu prawa, umożliwiające skuteczne i wygodne zdobywanie nowych umiejętności prawnych. </p>
                    <a href="/courses-grid" class="btn default-btn">Sprawdź dostępne kursy</a>
                </div>
            </div>
            <div class="col-lg-6 hero-img ms-md-5 position-relative aos-init aos-animate">
                <div class="banner-image position-relative z-1">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="box">
                                <div class="icon">
                                    
                                    <img src="assets/images/tip-2.png" class="img-fluid" alt="">
                                </div>
                                <div>
                                <h4 class="m-0">1500+</h4>
                                <p class="m-0">przeszkolonych osób</p>
                            </div>
                            </div>
                            <div class="image">
                                <img src="assets/images/banner/banner1.png" alt="banner-image">
                            </div>
                            <div class="box">
                                <div class="icon">
                                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.559998" y="0.52002" width="48.96" height="48.96" rx="12.24" fill="#825EF3"/>
                                        <g clip-path="url(#clip0_5_1826)">
                                        <path d="M27.8999 34.9301H21.5999L20.8499 32.9051H9.52489V13.6301C9.52489 12.7301 10.2749 11.9801 11.1749 11.9801H39.2249C40.1249 11.9801 40.8749 12.7301 40.8749 13.6301V32.9801H29.3999L27.8999 34.9301ZM22.4249 33.8051H27.3749L28.8749 31.7801H39.7499V13.6301C39.7499 13.3301 39.5249 13.1051 39.2249 13.1051H11.1749C10.8749 13.1051 10.6499 13.3301 10.6499 13.6301V31.8551H21.6749L22.4249 33.8051Z" fill="white"/>
                                        <path d="M37.7999 37.1801H12.5999C9.89988 37.1801 7.72488 35.0051 7.72488 32.3051V31.7051H21.5999L22.3499 33.7301H27.2999L28.7999 31.7051H42.5999V32.3051C42.6749 35.0051 40.4249 37.1801 37.7999 37.1801ZM8.92488 32.9051C9.22488 34.7051 10.7249 36.0551 12.5999 36.0551H37.7249C39.5999 36.0551 41.1749 34.7051 41.3999 32.9051H29.3999L27.8999 34.9301H21.5999L20.8499 32.9051H8.92488Z" fill="white"/>
                                        <path d="M19.7249 15.9551H13.9499V20.9801H19.7249V15.9551Z" fill="white"/>
                                        <path d="M20.2499 21.5051H13.3499V15.3551H20.2499V21.5051ZM14.4749 20.3801H19.1249V16.4801H14.4749V20.3801Z" fill="white"/>
                                        <path d="M19.7249 23.9051H13.9499V28.9301H19.7249V23.9051Z" fill="white"/>
                                        <path d="M20.2499 29.5301H13.3499V23.3801H20.2499V29.5301ZM14.4749 28.4051H19.1249V24.5051H14.4749V28.4051Z" fill="white"/>
                                        <path d="M36.7499 17.8301H23.3249V18.9551H36.7499V17.8301Z" fill="white"/>
                                        <path d="M36.7499 25.8551H23.3249V26.9801H36.7499V25.8551Z" fill="white"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_5_1826">
                                        <rect width="36" height="36" fill="white" transform="translate(7.19989 6.58008)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        
                                </div>
                                <div>
                                <h4 class="m-0">+10 lat</h4>
                                <p class="m-0">doświadczenia w doradztwie biznesowym</p>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                  <!--  <img src="assets/images/shapes/shape4.png" class="shape1" alt="shape-image">
                    <img src="assets/images/shapes/shape4.png" class="shape2" alt="shape-image"> -->
                </div>
            </div>
        </div>
    </div>
  <!-- <div class="banner-shape1">
        <img src="assets/images/shapes/shape2.png" alt="shape-image">
    </div>
    <div class="banner-shape2">
        <img src="assets/images/shapes/shape3.png" alt="shape-image">
    </div> -->
</div>