<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/about/about-bg.png);"
>
    <div class="container">
        <div class="page-banner-content text-start">
            <h1>O nas</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Strona główna</a></li>
                <li class="d-inline-block position-relative">O nas</li>
            </ul>
        </div>
    </div>
</div>
<div class="about-banner-content py-5">
    <div class="container">
        <div class="row justify-content-between gy-4">
            <div class="col-lg-4">
                <h4>Dołącz do nas i rozwijaj swoje umiejętności w dziedzinie prawa i technologii z zaufanym partnerem edukacyjnym.</h4>
            </div>
            <div class="col-lg-7">
                <h5>Jesteśmy zespołem doświadczonych ekspertów, którzy łączą swoją wiedzę z pasją do edukacji, aby dostarczyć najnowsze informacje i umiejętności potrzebne w dzisiejszym świecie prawnym i technologicznym.</h5>
                <p>Dążymy do tworzenia innowacyjnych i angażujących doświadczeń edukacyjnych, które pozwolą naszym klientom rozwijać się zawodowo i osiągać sukcesy w dynamicznym środowisku prawnym i technologicznym</p>
            </div>
        </div>
    </div>
</div>

    <app-featured-boxes></app-featured-boxes>

<app-about></app-about> 
<div class="mt-3 mb-5">
<app-featured></app-featured>
</div>
<app-instructors></app-instructors>



