<!-- Page Banner -->
<div class="position-relative">
    <img src="assets/images/curve-half.png" class="first-curve" alt="curve-image">
    
    <div class="container position-relative">
        <img src="assets/images/curve-sm-blr.png"  class="second-curve" alt="curve-image">
     
        <div class="row justify-content-center pt-3 pt-lg-5">
            <div class="col-lg-7">
                <div class="page-banner-content text-center">
                    <h1>Dopasuj pakiet do swoich potrzeb </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit dolor posuere vel venenatis eu sit massa volutpat.</p>
                    

                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Miesięcznie</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                        
                        
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Rocznie</label>
                            </div>
                        </div>
                      
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing -->
<div class="pricing-area pt-100 pb-75">
    <div class="container position-relative">
        <img src="assets/images/curve-sm.png"  class="third-curve" alt="curve-image">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing-box">
                    <h6>Dla osób indywidualnych</h6>
                    <p>ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit. </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="price">
                            <h2>00zł <span>/miesięcznie</span></h2>
                        </div>
                     
                    </div>
                    <h4>Co zawiera ten pakiet?</h4>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <i class='bx bx-check'></i>
                            Lorem Ipsum
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Lorem Ipsum
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Lorem Ipsum
                        </li>
                        
                    </ul>
                    <a href="javascript:void(0);" class="default-btn w-100 text-center">Kup pakiet</a>
                </div>
            </div>
     
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing-box bg-purpal">
                    <h6>Dla osób indywidualnych</h6>
                    <p>Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit. </p>
                    
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label">Ilość osób w organizacji</label>
                        </div>
                        <div class="col-3">
                          <input type="number"  class="form-control counter">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="price">
                            <h2>00zł <span>/miesięcznie</span></h2>
                        </div>
                     
                    </div>
                    <h4>Co zawiera ten pakiet?</h4>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <i class='bx bx-check'></i>
                            Lorem Ipsum
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Lorem Ipsum
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Lorem Ipsum
                        </li>
                        
                    </ul>
                    <a href="javascript:void(0);" class="default-btn text-primary bg-white w-100 text-center">Kup pakiet</a>
                </div>
            </div>
        </div>
    </div>
</div>