<!-- Page Banner -->
<!-- signup -->
<div class="signup-area position-relative">
    <div class="container">

        <div class="row flex-md-nowrap h-100 align-items-center parent-form-sing">
           
            <div class="col-lg-6 col-md-12 py-lg-4" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">
                <div class="forget-pass text-center my-4 my-lg-5">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Twoje konto zostało założone!</h2>
                            <P>Możesz teraz zalogować się i korzystać z usług platformy szkoleniowej dotlaw.</P>
                            <p>Klliknij <a class="text-primary">tutaj</a>, aby przejść do strony logowania.</p>
                        </div>
                      
                    </div>
                  
                </div>
            </div>

           
        
        </div>
    </div>
    <div class="banner-thumb bg-cover register-image" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="100" style="background: url(assets/images/sign-bg.png);"></div>

</div>

