<div class="d-flex justify-content-between mb-3">
    <h5 class="text-muted">Twój pakiet</h5>
      <div>
      </div>
  </div>
  <div class="card">
    <div class="card-body"> 
      <div class="row">
        <div class="col-lg-5">
            <span class="label-text mb-2 d-block text-light">Twój plan</span>
            <h2 class="d-inline-block fw-normal">Dla organizacji </h2><small class="fs--1">/ pakiet miesięczny</small>
        </div>
        <div class="col-lg-3">
          <span class="label-text mb-2 d-block text-light">Cena </span>
          <h2 class="fw-normal">000zł</h2>
        </div>
        <div class="col-lg-4 text-end align-self-center">
          Anuluj subskrypcję
        </div>
      </div>
  
    </div>
  </div>
  <div class="card">
    <div class="card-body"> 
      <div class="row">
        <div class="col-lg-12">
            <span class="label-text mb-2 d-block text-light">Wybrana metoda płatności</span>
            
        </div>
        <div class="col-lg-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <img class="px-3 visa-icon-align" src="assets/images/dashboard/visa.png">
              <span class="d-inline-block">
                <img class="d-block" src="assets/images/dashboard/visa-pass.png">
                <span class="text-light">Wygasa 10/2024</span>
              </span>
            </label>
          </div>
          
        </div>
        <div class="col-lg-6 text-end align-self-center">
          Usuń
        </div>
      </div>
  
    </div>
  </div>
  
  
  