<div class="d-flex justify-content-between mb-3">
    <h5 class="text-muted">Certyfikaty</h5>
    <!-- <div><a class="m-0  d-inline-block" style="cursor: pointer" (click)="openPopup()"> 
      


      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 25 24" fill="none">
        <path d="M12.1992 22C17.7221 22 22.1992 17.5228 22.1992 12C22.1992 6.47715 17.7221 2 12.1992 2C6.67637 2 2.19922 6.47715 2.19922 12C2.19922 17.5228 6.67637 22 12.1992 22Z" stroke="#825EF3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.1992 8V16" stroke="#825EF3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8.19922 12H16.1992" stroke="#825EF3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> <span class="opacity-60"> Dodaj użytkownika</span>
      </a>
  </div> -->
  </div>
  <div class="card border-top-radius">
    <div class="card-body p-2"> 
      <div>
      <div class="table-responsive">
        <table class="table table-hover table-light szkolenia-table align-middle">
            <thead class="bg-thead">
            <tr>
                <th scope="col" class="text-start">Nazwa certyfikatu</th>
                <th scope="col" class="text-center">Rozpoczęte kursy</th>
                <!-- <th scope="col" class="text-center">Data Dołączenia</th> -->
                <th scope="col" class="text-center">Wygenerowane certyfikaty</th>
                <!-- <th scope="col" class="text-center">Edytuj</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let certificate of certificates; let i = index">
              <td class="text-start">{{ certificate.course_title }}</td>
              <td class="text-center">{{ certificate.users_assigned }}</td>
              <td class="text-center">{{ certificate.users_completed }}</td>
                <!-- <td class="text-center">
                  <div class="dropdown">
                  <button class="btn btn-white dropdown-toggle" (click)="toggleDropdown(i)" type="button" [id]="'dropdownMenuButton' + i">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots"
                      width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                      fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                      <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                      <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    </svg>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" [ngClass]="{ 'show': isOpenArray[i] }" [attr.aria-labelledby]="'dropdownMenuButton' + i">
                    <li><a class="dropdown-item">Edytuj nazwę</a></li>
                    <a class="dropdown-item">Skasuj organizację</a>
                  </ul>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  




<!-- <div class="form-popup" *ngIf="isEditPopupOpen">
  <div class="popup-inner">
    <div class="modal-header bg-white m-2">
      <h4 class="modal-title"><strong>Edytuj użytkownika</strong></h4>
      <button (click)="closeEditPopup()" type="button" class="close-btn btn-close">
        <i class='bx bx-x'></i>
      </button>
    </div>
    <div class="modal-body bg-white rounded">
      <form>
        <div class="mb-3">
          <label for="nameInput" class="form-label">Imię:</label>
          <input type="text" class="form-control" id="nameInput" [(ngModel)]="editingUser.name" name="name">
        </div>
        <div class="mb-3">
          <label for="surnameInput" class="form-label">Nazwisko:</label>
          <input type="text" class="form-control" id="surnameInput" [(ngModel)]="editingUser.surname" name="surname">
        </div>
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email:</label>
          <input type="email" class="form-control" id="emailInput" [(ngModel)]="editingUser.email" name="email">
        </div>
        <div class="mb-3">
          <label for="roleSelect" class="form-label">Rola:</label>
          <select class="form-select" id="roleSelect" [(ngModel)]="editingUser.role" name="role">
            <option value="" disabled selected hidden>Wybierz rolę</option>
            <option value="user">Użytkownik</option>
            <option value="manager">Manager</option>
            <option value="admin">Admin</option>
            <option value="superadmin">Superadmin</option>
          </select>
        </div>
        <button class="btn radek-btn text-end" (click)="updateUser()" type="button">Zapisz zmiany</button>
      </form>
    </div>
  </div>
</div> -->








